<div fxLayout.lg-xl="column">
    <div style="padding-top: 20px;" fxLayoutAlign="center">
        <h1>Aqui estão todos os lançamentos cadastrados!</h1>
    </div>
    <div class="centro">
      <mat-nav-list>
        <a mat-list-item (click)="onSelecionarLancamento(lancamento)" *ngFor="let lancamento of lancamentos">
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>

          <h3 mat-line>{{ lancamento.cliente }}</h3>
          <p mat-line>{{ lancamento.produto }}</p>
          <p mat-line>{{ lancamento.valorTotal }}</p>
          <p mat-line>{{ lancamento.numeroNota }}</p>
        </a>
      </mat-nav-list>
    </div>
</div>